<footer class="footer bg-dark py-2 mt-auto"> <!-- (py) used for padding -->
    <div class="container">
        <Center>
            <span style="color: white;">&copy; YelpCamp 2024</span>
            <div style="color: white;">made by Tejas Pawar</div>
        </Center> <!-- &copy; is used for copyright symbol -->
    </div>
</footer>
