<% layout('layouts/boilerplate.ejs') %>

<form action="/register" method="POST" class="validated-form mt-3" novalidate>
    <div class="" style="display: grid; justify-content: center; align-items: center; font-size: 21px;">
        <center><h2 style="font-size: 37px; font-weight: bold;" class="mb-1 mt-3">Register</h2></center>
        <div class="mb-3 mt-3">
            <label class="form-label" for="username">Username: </label>
            <input class="form-control" style="border: 0.01cm solid black; width: 300px;" type="text" name="username" id="username" autofocus required>
            <div class="invalid-feedback">
                Please add a username
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="email">Email Id: </label>
            <input class="form-control" style="border: 0.01cm solid black; width: 300px;" type="email" name="email" id="email" required>
            <div class="invalid-feedback">
                Please add an Email Id
            </div>
        </div>

        <div class="mb-4">
            <label class="form-label" for="password">Password: </label>
            <input class="form-control" style="border: 0.01cm solid black; width: 300px;" type="password" name="password" id="password" required>
            <div class="invalid-feedback">
                Please add a password
            </div>
        </div>

        <button type="submit" class="btn btn-success" style="font-size: 18px;">Register</button>

    </div>

</form>